---
import MainLayout from "../layouts/MainLayout.astro";

// 201846840
---

<MainLayout>
  <h1>مرحبًا بك</h1>

  <p>
    مرحبًا بك في مدونتي. أنا علي الشيخ. مطور ويب وتطبيقات. <em
      id="the_most_important"
      >قمت بإنشاء هذا الموقع كفكرة بسيطة لممارسة أساسيات الويب في كورس برمجة
      الويب</em
    >. هذه المدونة ستركز على المنشورات التقنية ويمكنك ايجادها.
    <a href="#posts">هنا</a>
  </p>

  <h2>المنشورات</h2>
  <ul id="posts"></ul>

  <table>
    <tr>
      <th>الهواية</th>
      <th>التصنيف</th>
      <th>متى</th>
      <th>لماذا</th>
    </tr>
    <tr>
      <td class="top">البرمجة</td>
      <td class="top">#1</td>
      <td class="top">يوميًّا</td>
      <td class="top">أستمتع بينما أبني شيء يفيد العالم</td>
    </tr>
    <tr>
      <td>مشاهدة الأنمي</td>
      <td>#2</td>
      <td>قبل النوم</td>
      <td>الاسترخاء وتغيير الجو بعد يوم طويل</td>
    </tr>
    <tr>
      <td>الخروج مع الأصدقاء</td>
      <td>#3</td>
      <td>مرة في الأسبوع (إن أمكن)</td>
      <td>يجب علينا كسر الروتين مع الأصدقاء</td>
    </tr>
  </table>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const posts = [
        { title: "سامسونج تصدر البيتا العامة من One UI 6.0" },
        { title: "كيف قمت ببناء السيرفر الخاص بي؟" },
        { title: "أسترو: اطار عمل الويب المفضل عندي" },
      ];

      const postsList = document.getElementById("posts");

      posts.forEach((post) => {
        const li = document.createElement("li");
        li.textContent = post.title;
        postsList.appendChild(li);
      });
    });

    document.addEventListener("keydown", (e) => {
      if (e.key === "h" || e.key === "ا") {
        alert("اضغط زر tab للتنقل مابين الازرار");
      }
    });

    (async function getFacts() {
      try {
        const wallpaperEndpoint = "https://picsum.photos/200/300";
        const imgElement = document.createElement("img"); // Create a new img element

        imgElement.src = wallpaperEndpoint; // Set the src of img to the API endpoint
        imgElement.alt = "Randomly selected wallpaper"; // Always add alt text for accessibility

        document.querySelector("body").appendChild(imgElement); // Add the img element to the body
      } catch (error) {
        console.error("Error fetching the wallpaper:", error);
      }
    })();
  </script>
</MainLayout>
