<!-- 201846840 --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ali's personal page" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Ali Al-Shaikh" />
    <link rel="stylesheet" href="src/dark_theme.css" />
    <link rel="stylesheet" href="src/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>مايتي بلوق</title>
  </head>

  <body dir="rtl" class="max-w-6xl mx-auto">
    <header
      class="bg-stone-800 p-2 my-2 rounded flex gap-2 align-center justify-between"
    >
      <div class="flex gap-2 w-48 items-center">
        <img
          class="w-14 h-14 rounded-full"
          src="https://pbs.twimg.com/profile_images/1381602429037383684/WPbXukXh_400x400.jpg"
          alt="Ali Al-Shaikh"
        />
        <span class="text-lg font-bold">مايتي بلوق</span>
      </div>

      <nav class="flex justify-between">
        <ul class="flex gap-2 justify-between items-center">
          <li>
            <a
              tabindex="1"
              class="bg-stone-700 hover:bg-stone-600 px-4 py-2 rounded"
              href="addtopic.html">اقترح موضوعًا</a
            >
          </li>
          <li>
            <a
              class="bg-stone-700 hover:bg-stone-600 px-4 py-2 rounded"
              href="/contact-us.html">تواصل معي</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <h1>مرحبًا بك</h1>

    <p>
      مرحبًا بك في مدونتي. أنا علي الشيخ. مطور ويب وتطبيقات. <em
        id="the_most_important"
        >قمت بإنشاء هذا الموقع كفكرة بسيطة لممارسة أساسيات الويب في كورس برمجة
        الويب</em
      >. هذه المدونة ستركز على المنشورات التقنية ويمكنك ايجادها.
      <a href="#posts">هنا</a>
    </p>

    <h2>المنشورات</h2>
    <ul id="posts"></ul>

    <table>
      <tr>
        <th>الهواية</th>
        <th>التصنيف</th>
        <th>متى</th>
        <th>لماذا</th>
      </tr>
      <tr>
        <td class="top">البرمجة</td>
        <td class="top">#1</td>
        <td class="top">يوميًّا</td>
        <td class="top">أستمتع بينما أبني شيء يفيد العالم</td>
      </tr>
      <tr>
        <td>مشاهدة الأنمي</td>
        <td>#2</td>
        <td>قبل النوم</td>
        <td>الاسترخاء وتغيير الجو بعد يوم طويل</td>
      </tr>
      <tr>
        <td>الخروج مع الأصدقاء</td>
        <td>#3</td>
        <td>مرة في الأسبوع (إن أمكن)</td>
        <td>يجب علينا كسر الروتين مع الأصدقاء</td>
      </tr>
    </table>

    <footer>
      <div">
        <!-- Links to other pages -->
        <a href="contact.html">تواصل معي</a>
        <a href="index.html">الصفحة الرئيسية</a>
        <br /><br />
        <canvas id="signaturePad" width="500" height="200"></canvas>
        <button onclick="submitSignature()">Submit Signature</button>

        <!-- Contact Information -->
        <p><a href="mailto:mi3lix9@outlook.sa">ايميل: mi3lix9@outlook.sa</a></p>
        <p><a href="https://t.me/mi3lix9"></a>تيليجرام: @mi3lix9</p>
        <br />

        <!-- Copyright Statement -->
        <p>&copy; 2023 علي الشيخ. جميع الحقوق محفوظة.</p>
      </div">
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const posts = [
          { title: "سامسونج تصدر البيتا العامة من One UI 6.0" },
          { title: "كيف قمت ببناء السيرفر الخاص بي؟" },
          { title: "أسترو: اطار عمل الويب المفضل عندي" },
        ];

        const postsList = document.getElementById("posts");

        posts.forEach((post) => {
          const li = document.createElement("li");
          li.textContent = post.title;
          postsList.appendChild(li);
        });
      });

      document.addEventListener("keydown", (e) => {
        if (e.key === "h" || e.key === "ا") {
          alert("اضغط زر tab للتنقل مابين الازرار");
        }
      });

      (async function getFacts() {
        try {
          const wallpaperEndpoint = "https://picsum.photos/200/300";
          const imgElement = document.createElement("img"); // Create a new img element

          imgElement.src = wallpaperEndpoint; // Set the src of img to the API endpoint
          imgElement.alt = "Randomly selected wallpaper"; // Always add alt text for accessibility

          document.querySelector("body").appendChild(imgElement); // Add the img element to the body
        } catch (error) {
          console.error("Error fetching the wallpaper:", error);
        }
      })();
    </script>
  </body>
</html>
