<footer>
  <div>
    <!-- Links to other pages -->
    <a href="contact.html">تواصل معي</a>
    <a href="index.html">الصفحة الرئيسية</a>

    <!-- Contact Information -->
    <p><a href="mailto:mi3lix9@outlook.sa">ايميل: mi3lix9@outlook.sa</a></p>
    <p><a href="https://t.me/mi3lix9"></a>تيليجرام: @mi3lix9</p>
    <br />

    <!-- Copyright Statement -->
    <p>&copy; 2023 علي الشيخ. جميع الحقوق محفوظة.</p>
  </div>
</footer>
