<header
  class="bg-stone-800 p-2 my-2 rounded flex gap-2 align-center justify-between"
>
  <div class="flex gap-2 w-48 items-center">
    <img
      class="w-14 h-14 rounded-full"
      src="https://pbs.twimg.com/profile_images/1381602429037383684/WPbXukXh_400x400.jpg"
      alt="Ali Al-Shaikh"
    />
    <span class="text-lg font-bold">مايتي بلوق</span>
  </div>

  <nav class="flex justify-between">
    <ul class="flex gap-2 justify-between items-center">
      <li>
        <a
          tabindex="1"
          class="bg-stone-700 hover:bg-stone-600 px-4 py-2 rounded"
          href="addtopic.html">اقترح موضوعًا</a
        >
      </li>
      <li>
        <a
          class="bg-stone-700 hover:bg-stone-600 px-4 py-2 rounded"
          href="/contact-us.html">تواصل معي</a
        >
      </li>
    </ul>
  </nav>
</header>
